:root {
  --main-bg-color: rgb(18, 6, 6);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--main-bg-color);
  color: #fff;
}

html {
	scroll-behavior: smooth;
}

.App {
	display: flex;
	flex-direction: column;
	/* gap: 5rem; */
}

.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}